<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sentient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8B3132FF1D628A97007E8C5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B3133181D628A98007E8C5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B3133231D628A98007E8C5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
